.row {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
    
}

.pane {
    &-right {
        // background-color: map-get($ui-colors, 'gray-20' );
        width: 50%;
        padding: 2% 0 2% 2%;
        // min-height: 50vh;
    }
    &-left {
        padding: 2% 0;
        width: 50%;
        // min-height: 50vh;

    }
}
.side-by-side {
    display: flex;
}
.pane-left-img {
    max-width: 550px;
    width: 80%;
}

.linkbox {
    margin-left: auto;
}